<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunarpunk : Acceuil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Stalinist+One|Oxanium|Barlow">
    <link rel="stylesheet" href="../css/resetCSS.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">
    <link rel="stylesheet" href="../css/homeOnline.css">
</head>
<body>
<div id="bg_grad"></div>

<header class="offline">
    <div>
        <a href=""><h1>Lunarpunk</h1></a>
        <h2>Acceuil</h2>        
    </div>
</header>

<main>
    <div>
        <p>Bienvenue <span id="nom"></span></p>
    </div>
    <div>
        <p>Nous sommes le : <span id="date"></span></p>
    </div>
    <div>
        <p>Vous vous êtes connecté à : <span id="heure"></span></p>
    </div>
</main>

<script src="../javascript/homeOnline.js"></script>
</body>
</html>